# concatenation using the pd.concat() method

In [2]:
import pandas as pd
week1=pd.read_csv("Restaurant - Week 1 Sales.csv")
week1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [3]:
week2=pd.read_csv("Restaurant - Week 2 Sales.csv")
week2.head()

   Customer ID  Food ID
0          688       10
1          813        7
2          495       10
3          189        5
4          267        3

In [4]:
len(week1)

250

In [5]:
len(week2)

250

Signature:
pd.concat(
    objs,
    axis=0,
    join='outer',
    join_axes=None,
    ignore_index=False,
    keys=None,
    levels=None,
    names=None,
    verify_integrity=False,
    sort=None,
    copy=True,
)
Docstring:
Concatenate pandas objects along a particular axis with optional set logic
along the other axes.

In [7]:
#Concatenate week 1 and week 2 using concat method
pd.concat([week1,week2])

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
220          495        2
221          794        6
222          734       10
223          540        3
224          735        2
225          940        8
226          571        7
227          888        2
228          664        6
229          343        7
230          143        4
231          505        3
232           54        8
233          959        2
234          367        8
235          883        8
236          251        9
237          855        4
238          233        3
239          559       10
240          734        1
241          677        3
242          276        4
243           45        8
244          945        4
245          783       10
246          556       10
247          547        9
248          252        9
249          249        6

[500 rows x 2 columns]

We can see that there are 500 rows however index from the original dataframe is retained, if you want to reset and
use the pandas generated index, use ignore_index=True

In [8]:
pd.concat([week1,week2],ignore_index=True)

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
470          495        2
471          794        6
472          734       10
473          540        3
474          735        2
475          940        8
476          571        7
477          888        2
478          664        6
479          343        7
480          143        4
481          505        3
482           54        8
483          959        2
484          367        8
485          883        8
486          251        9
487          855        4
488          233        3
489          559       10
490          734        1
491          677        3
492          276        4
493           45        8
494          945        4
495          783       10
496          556       10
497          547        9
498          252        9
499          249        6

[500 rows x 2 columns]

Now we can see index value is extended to 499

In [10]:
#To knpw the source of data
df=pd.concat([week1,week2],keys=["week1","week2"])
df

           Customer ID  Food ID
week1 0            537        9
      1             97        4
      2            658        1
      3            202        2
      4            155        9
      5            213        8
      6            600        1
      7            503        5
      8             71        3
      9            174        3
      10           961        9
      11           966        5
      12           641        4
      13           288        2
      14           149        4
      15           954        2
      16           147        9
      17           155        1
      18           550        6
      19           101        7
      20           549        6
      21            75        6
      22            78        7
      23           514        5
      24           833        7
      25           329        8
      26           586       10
      27           341        1
      28           519       10
      29           680        9
...                ...      ...
week2 220          495        2
      221          794        6
      222          734       10
      223          540        3
      224          735        2
      225          940        8
      226          571        7
      227          888        2
      228          664        6
      229          343        7
      230          143        4
      231          505        3
      232           54        8
      233          959        2
      234          367        8
      235          883        8
      236          251        9
      237          855        4
      238          233        3
      239          559       10
      240          734        1
      241          677        3
      242          276        4
      243           45        8
      244          945        4
      245          783       10
      246          556       10
      247          547        9
      248          252        9
      249          249        6

[500 rows x 2 columns]

We are getting multiindex dataframe and we can know that from where the data is coming

In [15]:
df.loc["week1"]

     Customer ID  Food ID
0            537        9
1             97        4
2            658        1
3            202        2
4            155        9
5            213        8
6            600        1
7            503        5
8             71        3
9            174        3
10           961        9
11           966        5
12           641        4
13           288        2
14           149        4
15           954        2
16           147        9
17           155        1
18           550        6
19           101        7
20           549        6
21            75        6
22            78        7
23           514        5
24           833        7
25           329        8
26           586       10
27           341        1
28           519       10
29           680        9
..           ...      ...
220          147        8
221          745        4
222          184        3
223          828        8
224          578        5
225          491        4
226           62        4
227           77        9
228          506        9
229          271        9
230          584       10
231          148        5
232          595        3
233          274       10
234          646        1
235          520        8
236          644        8
237          725        8
238          934        4
239          151       10
240          945        5
241          343        3
242          380        9
243          911        4
244          621        9
245          413        9
246          926        6
247          134        3
248          396        6
249          535       10

[250 rows x 2 columns]

In [16]:
df.loc["week2"]

     Customer ID  Food ID
0            688       10
1            813        7
2            495       10
3            189        5
4            267        3
5            310        5
6            761        2
7            443        5
8            729        9
9            741        8
10           847        6
11           156       10
12           550        7
13           620       10
14           272        4
15           511        2
16             8        6
17           534        7
18           909        6
19           732        9
20           372        4
21           713        1
22           496        3
23           381        9
24            13        2
25           101        4
26           325        7
27           674        2
28           564        8
29           578        5
..           ...      ...
220          495        2
221          794        6
222          734       10
223          540        3
224          735        2
225          940        8
226          571        7
227          888        2
228          664        6
229          343        7
230          143        4
231          505        3
232           54        8
233          959        2
234          367        8
235          883        8
236          251        9
237          855        4
238          233        3
239          559       10
240          734        1
241          677        3
242          276        4
243           45        8
244          945        4
245          783       10
246          556       10
247          547        9
248          252        9
249          249        6

[250 rows x 2 columns]

In [17]:
df.loc[("week1",200)]

Customer ID    493
Food ID          9
Name: (week1, 200), dtype: int64

In [18]:
df.loc[("week2",99),"Food ID"]

1

In [19]:
# The append() method
#Append is a method of dataframe and performs the same operation like concat
week2.append(week1)

     Customer ID  Food ID
0            688       10
1            813        7
2            495       10
3            189        5
4            267        3
5            310        5
6            761        2
7            443        5
8            729        9
9            741        8
10           847        6
11           156       10
12           550        7
13           620       10
14           272        4
15           511        2
16             8        6
17           534        7
18           909        6
19           732        9
20           372        4
21           713        1
22           496        3
23           381        9
24            13        2
25           101        4
26           325        7
27           674        2
28           564        8
29           578        5
..           ...      ...
220          147        8
221          745        4
222          184        3
223          828        8
224          578        5
225          491        4
226           62        4
227           77        9
228          506        9
229          271        9
230          584       10
231          148        5
232          595        3
233          274       10
234          646        1
235          520        8
236          644        8
237          725        8
238          934        4
239          151       10
240          945        5
241          343        3
242          380        9
243          911        4
244          621        9
245          413        9
246          926        6
247          134        3
248          396        6
249          535       10

[500 rows x 2 columns]